* {
    /* font-family: "Itim", cursive; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* HEADER */

.navbar {
    background-color: #1B1B1B !important;
    height: 90px !important;
    padding: 0 25px !important;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1; 
}

.navbar .nav-link {
    color: #ffffff;
    margin-right: 15px; 
}

.navbar .nav-link:hover {
    color: #5AE2A8;
}

.navbar .nav-link.active {
    color: #5AE2A8 !important; 
    font-weight: bold;
}

.navbar .fa-user {
    color: #ffffff !important;
    font-size: 25px;
    cursor: pointer;
    margin-left: 20px;
}

.navbar .fa-user:hover {
    color: #5AE2A8 !important;
    transition: color 0.3s ease;
}

.buscar {
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    transition: border-bottom-color 0.3s  !important; 
    background: transparent !important;
    width: 300px !important;
    color: white !important;
    padding-left: 40px !important;
}

.buscar:focus {
    border-bottom-color: #5AE2A8 !important; 
    background: transparent !important;
}

.buscar::placeholder {
    color: white !important;
    opacity: 0.5 !important; 
}

.navbar .fa-magnifying-glass {
    position: absolute !important;
    left: 10px !important; 
    top: 40% !important; 
    transform: translateY(-50%) !important; 
    color: white !important;
    font-size: 16px;
    pointer-events: none; 
}