*{
    /* font-family: "Itim", cursive; */
}
body.infobody{
    /* font-family: "Itim", cursive; */
    font-family: "Instrument Serif", serif;
    letter-spacing: 1px;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    background-color: #000000;
}
textarea:focus  {
	outline: 2px solid #5AE2A8;
	outline-offset: -2px;
}
input:focus, select:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] { -moz-appearance:textfield; }
/* Colores */
/* 
#5AE2A8
#000000
#1B1B1B
#FFFFFF 
*/
.info{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_filme{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "one two two";
    font-family: "Itim", cursive;
}
.info_filme .primer{
    grid-area: one;
    /* grid-column: 1; */
}
.info_filme .segundo{
    grid-area: two;
    margin-left: 90px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info_filme .segundo .peliculaDatos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.info_filme .imagen img{
    width: 400px;
    height: auto;
}
.info_filme .imagen{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}
.agregarvis h2{
    margin-bottom: 40px;
}

.info_filme .segundo .peliculaDatos div.desc{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.info_filme .segundo .peliculaDatos div.estreno, .info_filme .segundo .peliculaDatos div.idioma, .info_filme .segundo .peliculaDatos div.clasif, .info_filme .segundo .peliculaDatos div.pais{
    width: 45%;
    display: flex;
    justify-content: end;
} 
.info_filme .segundo .peliculaDatos > div:nth-child(odd){
    display: flex;
    justify-content: start;
    padding-right: 5px;
}

.info_filme .segundo .peliculaDatos > div:nth-child(even){
    display: flex;
    justify-content: end;
}
.info_filme .segundo .peliculaDatos > div{
    margin-bottom: 50px;
}
.info_filme .segundo .peliculaDatos  > div > div:last-child {
    margin-left: 20px;
}

.backg{
    width: 175px;
    height: 100%;
    font-size: 20px;
}

.backginfo{
    width: 80%;
    height: 310px;
    padding: 10.75px 28px;
    text-align: justify;
    font-size: 20px;
    display: flex;
    justify-content: end;
}

.backg p{
    text-align: center;
    padding: 10.75px 0;
    color: #5AE2A8;
    font-weight: bold;
}

.colorwhite p{
    color: #FFFFFF;
}

.actordirector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* margin-top: 50px; */
}
.actordirector .actores, .actordirector .generos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.actordirector .actores .divtit{
    display: flex;
    justify-content: start;
    align-items: start;
}
.actordirector .actores .lista{
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 20px;
}
.actordirector .actores .lista .backg p{
    text-align: start;
}
.actordirector .generos .lista{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 20px;

}

.actordirector .actores .lista > div{
    width: 100%;
    margin-bottom: 20px;
}

.actordirector .generos .lista > div{
    margin-right: 20px;
}

.actordirector .generos .lista > div{
    width: 180px;
}

.divcont{
    background-color: #1B1B1B;
    border-radius: 10px;
    font-size: 20px;
}

.info_filme .segundo .actordirector > div{
    margin-bottom: 50px;
}


.estrellas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-bottom: 30px;
}
.estrellas img{
    width: 40px;
    height: 40px;
}
.estrellas img.media{
    width: 20px;
    height: 40px;
}
.estrellas img.media2{
    width: 8px;
    height: 40px;
}
.estrellas img.media4{
    width: 16px;
    height: 40px;
}
.estrellas img.media6{
    width: 24px;
    height: 40px;
}
.estrellas img.media8{
    width: 32px;
    height: 40px;
}


.estno{
    text-align: center;
    font-size: 20px;
}
hr{
    width: 70%;
    background-color: #DDDBDA;
    margin: 80px auto;
}
.agregarvis{
    margin: 80px;
}

form.formVisua{
    display: flex;
    justify-content: space-between; 
    align-items: start;
    flex-wrap: wrap;
    row-gap: 50px;
}

input, select, textarea{
    text-align: center;
    padding: 10.75px 0;
    background-color: #1B1B1B;
    border: none;
    margin: 0px auto;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    font-size: 20px;
    color: #FFFFFF;
}
textarea{
    text-align: start;
    padding: 10px 15px;
}
.formbtn {
    width: 30%;
    display: flex;
    justify-content: center; 
    align-items: start;
    height: auto;
}

.textarea{
    width: 65%;
    display: flex;
    justify-content: start; 
    gap: 20px;
}

.textarea .backg:nth-child(2) {
    width: 80%;
    height: 100%;
}
.textarea .backg:nth-child(1) p{
    text-align: end;
    width: auto;
}

button.agregar{
    background-color: #5AE2A8;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    width: 175px;
    height: 100%;
    border: none;
}
button.agregar p{
    color: #fff;
}
button.agregar:hover{
    background-color: #FFFFFF;
} 
button.agregar p:hover{
    color: #000000;
}
.boton{
    width: 100%;
}
.conta{
    width: 30%;
}
.conta .formbtn{
    width: 100%
}
.formVisua .favorito{
    background-color: #000000;
    border: none;
}
.formVisua img{
    width: 40px;
    height: auto;
}
.favorito{
    margin-top: 50px;
}
.visu{
    margin-top: 50px;
}
.agregarvis, .block{
    display: none;
}

.margen{
    margin-bottom: 20px;
}