body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #1B1B1B;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5AE2A8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #000000;  /* creates padding around scroll thumb */
  }

body.containertarjetas{
    width: 100%;
    /* background-color: aquamarine; */
}

.datos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 100px;
    padding: 50px;
    padding-top: 100px;
    background-color: #FFFFFF;
    /* background-color: aquamarine; */
}

.tarjeta{
    width: 300px;
    height: 315px;
    position: relative;
    background-color: black;
    border-radius: 40px;
    border: none;
}

.tarjeta .imagenF{
    position: absolute;
    top: -40px;
    left: 40px;  
    width: 185px;
    height: 270px;
    /* background-color: red; */
    border-radius: 40px;
    /* border: 1px solid black; */
}

.tarjeta .imagenF img{
    width: 100%;
    border-radius: 40px;
    border: none;
}

.tarjeta .estrellasF{
    position: absolute;
    top: 0;
    right: 0;  
    width: 80px;
    height: 230px;
    /* background-color: hotpink; */
    /* display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap; */
    row-gap: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}

.tarjeta .estrellasF img{
    width: auto;
    height: 12%;
    margin-bottom: 19px;
}

.tarjeta .star{
    margin-right: 15px;
}

.tarjeta .estreInfoVis img{
    margin-left: 12px;
    margin-right: 12px;

}

.tarjeta .tipo{
    position: absolute;
    bottom: 20px;
    left: 40px;  
    width: 30px;
    height: 30px;
    background-color: #5AE2AB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta .tipo p{
    text-align: center;
    font-family: "Instrument Serif", serif;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 0px;
    font-size: 19px;
}

.tarjeta .nombre{
    position: absolute;
    bottom: 20px;
    right: 20px;  
    width: 200px;
    height: 30px;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.tarjeta .nombre p{
    text-align: start;
    font-family: "Instrument Serif", serif;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 0px;
    color: white;
    padding-left: 5px;
    font-size: 19px;
}

.tarjeta .favorito{
    position: absolute;
    bottom: 70px;
    left: 40px;  
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta .favorito img{
    width: 60%;
}

.datos .datossub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;

    /* background-color: hotpink; */
}
.datos .informacion{
    width: 300px;
    height: 60px;
    background-color: black;
    border-radius: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos .informacion .tag{
    width: 65%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.datos .informacion .tag p{
    color: #5AE2AB;
    text-align: center;
    font-family: "Instrument Serif", serif;
    letter-spacing: 1px;
    font-size: 19px;
    margin: auto auto;
}
.datos .informacion .inf{
    width: 35%;
    height: 100%;
    /* background-color: purple; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.datos .informacion .inf p{
    color: white;
    text-align: center;
    font-family: "Instrument Serif", serif;
    letter-spacing: 1px;
    font-size: 19px;
    margin: auto auto;
}
