.peliculas-sec {
    background-color: #000000;
    width: 1000%;
    height: 1000%;
}

.card-sep {
    padding: 40px;
}

.nbcolor{
    background-color: #1B1B1B;
}

.nbcolor h5{
    color: white;
}

.nbcolor p{
    background-color: #5ae2a8;
    width: auto;
    color: #1B1B1B;
    font-size: small;
}