body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1B1B1B;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #5AE2A8;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #000000;  /* creates padding around scroll thumb */
}

*{
  padding: 0px;
  margin: 0px;
}

html, body {
  position: relative;
  z-index: 1;
}

main{
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}

.MainRegistro, .MainLogin, main{
  /*background-color:rgb(189, 189, 189);*/
  z-index: 10000;
}

.background, .form, .div_Registro {
  position: relative;
  z-index: 1;
}

.div_Registro .form-control, .div_Registro .input-group-text {
  border: 1px solid #FFF;
}

.div_Registro .input-group-text{
  background-color: #1B1B1B;
}

.div_Registro{
    background-color: #1B1B1B;
    border: 1px solid #1B1B1B;
    width: 500px;
    height: 720px;
    text-align: center;
    align-items: center;
}

.div_Registro h2{
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form div{
  width: 100%;
  padding: 0px 30px;
}

.form-label{
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
  /* display: none; */
}

.form-label:not(:first-child) {
  margin-top: 20px;
}

.button button{
  background-color: #5AE2A8;
  border: 1px solid #5AE2A8;
  width: 200px;
}

.button button:hover{
  background-color: #FFF;
  border: 1px solid #213E60;
  width: 200px;
  color: black;
}

.button{
  margin-top: 40px;
}

.div_Registro .input-group-text i {
  color: #FFF;
}

.div_Registro .input-group-text i:hover {
  color: #FFF;
  color: #5AE2A8 !important;
  transition: color 0.3s ease;
}


.fa-solid, .fas {
  font-weight: 900;
}

.div_Registro small{
  color: #5AE2A8;
}

.div_Registro #formulario_error {
  display: none;
  margin-top: 0;
  position: absolute;
  padding-left: 30px;
  margin-top: -10px;
}

.error{
  position: relative;
}

.div_Login{
  height: 400px;
}

.div_Login .registro{
  margin-top: 25px;
  font-size: 17px;
  color: white;
}

.div_Login .registro a{
    color: #5AE2A8;
}

.background {
  background-image: url('../imagenes/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.background1{
  height: 102vh !important;
}

.background2{
  height: 83vh !important;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1b1b1bc0;
}

.swal2-container-custom {
  z-index: 1050 !important;
}

@media (max-width: 600px) {
  .div_Registro{
    width: 350px;
  }

}
